
img{
    filter:grayscale(80%);
    filter: blur(250px);
    /* filter: brightness(50%); */
}
body{
background: -webkit-linear-gradient(90deg, rgb(41, 124, 198), rgb(188, 199, 211));
background: linear-gradient(90deg, rgb(41, 124, 198), rgb(188, 199, 211));

}